[Desktop Entry]
Type=Link
Name=English Time
Comment=English Time - Learn English Now
Icon=vlc
URL=https://www.youtube.com/c/EnglishTime_LearnEnglishNow
